<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @outflow.category.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @outflow.description %>
</p>

<p>
  <strong>Amount:</strong>
  <%= number_to_currency @outflow.amount %>
</p>

<p>
  <strong>Date:</strong>
  <%= @outflow.date %>
</p>

<%= link_to 'Edit', edit_outflow_path(@outflow) %> |
<%= link_to 'Back', outflows_path %>
